<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>

  <body>
    <header>
      <% include partials/header %>
    </header>

    <main class="container">
      <%- body %>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
    <script src="../bower_components/burger/dist/scripts/burger.min.js"></script>
  </body>
</html>
