html,
body {
  height: 100%;
  background-color: #35ab78;
  background-size: cover;
  font-family: "futura", garamond, Serif;
}

body {
  color: #fff;
  text-align: center;
}
.cover-heading {
  font-family: futura;
}

.site-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%
}

.img-res {
    max-width: 100%;
    height: auto;
}

/* Padding for spacing */
.inner {
  padding: 5%;
}


/* Navigation */

.nav {
	margin-right: 5%;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
}

.logo {
position: absolute;
}
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2.5%;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

a:focus, a:hover {
    color: #35b278;
    text-decoration: underline;
}

/*
 * Navigation End
 */

.btn-info {
  color: #fff;
  border-color: #fff;
  border: 2px;
}

.btn-block {
    display: inline-block;
    width: auto;
    margin: 0 auto;
}
/* Main Content */
.container{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 85vh;
  width: 80vw;
  background-color: #35b278;
  background-position: center;
}

/*
 * Main End
 */

.form-signin {
  position: center;
  background-color: #35b278;
  width: 100%;
  height: auto;
  padding: 15px;
  margin: auto;
}

.btn-success {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.form-login {
  position: center;
  background-color: #35b278;
  width: 100%;
  height: auto;
  padding: 15px;
  margin: auto;
}

.checkbox {
  text-align: left;
  display: inline-table;
}
/*
 * Cover
 */

.cover {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  border: 2px
  border-color: white;
}

.form-cover {
  top:50%;
}

/* Footer */
.footer{
  float: left;
  padding-top: 2%;
  padding-left: 1%;
  color: white;
}

.form-control {
    margin: 0 auto;
    display: block;
    width: 40%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*
 * Footer End
 */


 /*
  * Bootstrap OVerrides
  */

.btn-info {
    color: #fff;
    background-color: transparent;
    border-color: #white;
}

.btn-success {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.btn-success:hover {
    color: #fff;
    background-color: tomato;
    border-color: transparent;
}