html,
body {
  height: 100%;
  background-color: #000;
  background-size: cover;
}

body {
  color: #fff;
  text-align: center;
}


.site-wrapper {
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%
}

/* Padding for spacing */
.inner {
  padding: 5%;
}


/* Navigation */

.nav {
	margin-right: 5%;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2.5%;

}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}



/*
 * Navigation End
 */




/* Main Content */
.container{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 85vh;
  width: 80vw;
  background-color: red;
  background-position: center;
}

/*
 * Main End
 */



.checkbox {
  text-align: left;
  display: inline-table;
}
/*
 * Cover
 */

.cover {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.form-cover {
  top:50%;
}

/* Footer */
.footer{
	padding-top: 1%;
}


/*
 * Footer End
 */