  <main>


    <div class="container">
      <div class="row">
    <div class="col-md-12">
        <h1>Tell us a little more about yourself!</h1>
        <p class="lead">Your interests are a way for us to figure out what tribe you should be in,
          so clickity click on the things you're interested in down below to find your tribe!</p>
      </div>
    <form name="InterestCategories" method="post" action="/events/index">

      <div class="row">
      <div class="col-md-6">
      <h3>Movie Types</h3>

      <div class="checkbox">
          <label><input type="checkbox" value="Comedy">Comedy</label>
      </div>

          <div class="checkbox">
          <label><input type="checkbox" value="Comedy">Adventure</label>
          </div>

          <div class="checkbox">
          <label><input type="checkbox" value="Comedy">Action</label>
          </div>

          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Drama
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Romance2
          </label>
          </div>
      </div>

      <div class="col-md-6">
      <div>
        <h3>Sports</h3>

          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Soccer
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">American Football
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Basketball
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Tennis
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Rugby
          </label>
          </div>
      </div>
</div>
</div>
</form>
      <div>
        <input class="btn btn-default" type="submit" value="Submit">
      </div>
</div>
</div>

       <script>

        // var x=document.getElementsByTagName("input");
        // alert(x.length);
        var form = document.getElementById("InterestCategories");
        var inputs = document.getElementsByTagName("input");
        var newArr = [];

        console.log(newArr);
     </script>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </main>

