  <main>

<!--     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tribe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav> -->

    <div class="container">

      <div class="starter-template">
        <h1>Tell us a little more about yourself!</h1>
        <p class="lead">Your interests are a way for us to figure out what tribe you should be in,
          so clickity click on the things you're interested in down below to find your tribe!</p>
      </div>
    <form name="InterestCategories" method="post" action="/events/index">
      <div>
        Movie Types
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Comedy
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Adventure
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Action
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Drama
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Romance2
          </label>
          </div>
      </div>
      <div>
        Sports
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Soccer
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">American Football
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Basketball
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Tennis
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Rugby
          </label>
          </div>
      </div>
      <div>
        Food
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Chinese
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Mexican
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Italian
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Thai
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">American
          </label>
          </div>
      </div>
      <div>
        Health and Fitness
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Running
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Yoga
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Weightlifting
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Cycling
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Sports
          </label>
          </div>
      </div>
      <div>
        Music
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Rock
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Pop
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Country
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">EDM
          </label>
          </div>
          <div class="checkbox">
          <label>
            <input type="checkbox" value="Comedy">Rap
          </label>
          </div>
      </div>
      <div>
        <input class="btn btn-default" type="submit" value="Submit">
      </div>
    </form>


       <script>

        // var x=document.getElementsByTagName("input");
        // alert(x.length);
        var form = document.getElementById("InterestCategories");
        var inputs = document.getElementsByTagName("input");
        var newArr = [];

        console.log(newArr);
     </script>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </main>

